<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Winky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Winky.Properties.Settings>
            <setting name="textboxLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="nic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtWOEID" serializeAs="String">
                <value />
            </setting>
            <setting name="driveSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value />
            </setting>
            <setting name="darkCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lightCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="circleDark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lightHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heightNumber" serializeAs="String">
                <value>0</value>
            </setting>
        </Winky.Properties.Settings>
    </userSettings>
</configuration>