<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestBed.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestBed.Config>
            <setting name="ZIP" serializeAs="String">
                <value>74137</value>
            </setting>
            <setting name="Disk" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NIC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartHour" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StartMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndHours" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="EndHoursMins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HourlyPay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Money" serializeAs="String">
                <value>1</value>
            </setting>
        </TestBed.Config>
    </userSettings>
</configuration>